body {
    position: absolute;
    background-color: #0D0F16;
    height: 576px;
    width: 1024px;
    padding: 0%;
    margin: 0%;
    overflow: hidden;

}
.background {
    background: url(img/bg.png);
    position: absolute;
    background-size: cover; /* Cover the entire element */
    background-repeat: no-repeat;
    height: 576px; /* Adjust height to fill the viewport */
    width: 1024px; /* Adjust width to fill the viewport */
}








